<a href="https://colab.research.google.com/github/RashikaTyagi01/Rashika-UML501/blob/main/mlAssignment2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

The Marketing department of Adventure Works Cycles wants to increase sales by targeting specific customers for a mailing campaign. The company's database contains a list of past customers and a list of potential new customers. By investigating the attributes of previous bike buyers, the company hopes to discover patterns that they can then apply to potential customers. They hope to use the discovered patterns to predict which potential customers are most likely to purchase a bike from Adventure Works Cycles.

Part I: Based on Feature Selection, Cleaning, and Preprocessing to Construct an Input from Data Source
(a) Examine the values of each attribute and Select a set of attributes only that would affect to predict future bike buyers to create your input for data mining algorithms. Remove all the unnecessary attributes. (Select features just by analysis).
(b) Create a new Data Frame with the selected attributes only.
(c) Determine a Data value type (Discrete, or Continuous, then Nominal, Ordinal, Interval, Ratio) of
each attribute in your selection to identify preprocessing tasks to create input for your data mining.

In [14]:
import pandas as pd
import numpy as np
from datetime import datetime

#(a)
data = pd.read_csv('/AWCustomers.csv')
print(data.head())
print()
sales = pd.read_csv('/AWSales.csv')
print(sales.head())
data['BirthDate'] = pd.to_datetime(data['BirthDate'])
data['Age'] = datetime.now().year - data['BirthDate'].dt.year

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   2017-03-06
1   2017-03-06
2   2017-03-06
3   2017-03-06
4   2017-03-06

[5 rows x 24 columns]

   CustomerID  BikeBuyer  AvgMonthSpend
0       21173          1          50.97
1       13249          1          53.11
2       29350          1          54.08
3       13503          1          56.93
4       22803          1          55.41

In [15]:
#(b)
merged_df = pd.merge(data,sales,on='CustomerID',how='inner')
selected=['Gender','Age','MaritalStatus','Occupation','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','YearlyIncome','BikeBuyer']
df = merged_df[selected]
print(df.head())

  Gender  Age MaritalStatus      Occupation  NumberCarsOwned  \
0      M   38             M        Clerical                3
1      M   53             M        Clerical                2
2      F   40             S        Clerical                3
3      M   48             M  Skilled Manual                2
4      M   50             S  Skilled Manual                1

   NumberChildrenAtHome  TotalChildren  YearlyIncome  BikeBuyer
0                     0              1         81916          1
1                     1              2         81076          1
2                     0              0         86387          1
3                     1              2         61481          1
4                     0              0         51804          1

In [16]:
#(c)
#Gender - Categorical, Nominal (binary)
# Age - Discrete , Ratio
# MartialStatus - Categorical, Nominal (binary)
# NumberCarsOwned - Discrete, Ratio
# NumberChildrenAtHome - Discrete, Ratio
# TotalChildren - Discrete , Ratio
# YearlyIncome - Continuous, Ratio
# BikeBuyer - Categorical, Nominal (binary)
#Occupation - Categorical, Nominal

Part II: Data Preprocessing and Transformation
Depending on the data type of each attribute, transform each object from your preprocessed data.
Use all the data rows (~= 18000 rows) with the selected features as input to apply all the tasks below, do not perform each task on the smaller data set that you got from your random sampling result.
(a) Handling Null values
(b) Normalization
(c) Discretization(Binning)onContinuousattributesorCategoricalAttributeswithtoomanydifferent
values
(d) Standardization/Normalization
(e) Binarization (One Hot Encoding)

In [17]:
#(a) Handling Null values
df.isnull().sum()
df=df.dropna()

In [18]:
#(b) Normalization
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
cols = ['Age','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','YearlyIncome']
df[cols] = scaler.fit_transform(df[cols])
print(df.head())

  Gender       Age MaritalStatus      Occupation  NumberCarsOwned  \
0      M  0.185714             M        Clerical              0.6
1      M  0.400000             M        Clerical              0.4
2      F  0.214286             S        Clerical              0.6
3      M  0.328571             M  Skilled Manual              0.4
4      M  0.357143             S  Skilled Manual              0.2

   NumberChildrenAtHome  TotalChildren  YearlyIncome  BikeBuyer
0              0.000000       0.333333      0.496842          1
1              0.333333       0.666667      0.489453          1
2              0.000000       0.000000      0.536172          1
3              0.333333       0.666667      0.317083          1
4              0.000000       0.000000      0.231958          1

In [19]:
#(c) Discretization(Binning)
df['AgeGroup'] = pd.cut(df['Age'],bins=3,labels=["Young","Middle","Old"])
df['IncomeGroup'] = pd.cut(df['YearlyIncome'],bins=3,labels=["Low","Medium","High"])
print(df[['AgeGroup','IncomeGroup']].head())

  AgeGroup IncomeGroup
0    Young      Medium
1   Middle      Medium
2    Young      Medium
3    Young         Low
4   Middle         Low

In [20]:
#(d) Standardization
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
numeric_col = ['Age','NumberCarsOwned','NumberChildrenAtHome','TotalChildren','YearlyIncome']
df[numeric_col] = scaler.fit_transform(df[numeric_col])
print(df.head())

  Gender       Age MaritalStatus      Occupation  NumberCarsOwned  \
0      M -0.482516             M        Clerical         1.892524
1      M  0.851033             M        Clerical         0.798389
2      F -0.304710             S        Clerical         1.892524
3      M  0.406517             M  Skilled Manual         0.798389
4      M  0.584324             S  Skilled Manual        -0.295746

   NumberChildrenAtHome  TotalChildren  YearlyIncome  BikeBuyer AgeGroup  \
0             -0.594371       0.161342      0.298555          1    Young
1              1.163279       1.239753      0.271180          1   Middle
2             -0.594371      -0.917069      0.444261          1    Young
3              1.163279       1.239753     -0.367401          1    Young
4             -0.594371      -0.917069     -0.682765          1   Middle

  IncomeGroup
0      Medium
1      Medium
2      Medium
3         Low
4         Low

In [21]:
#(e) Binarization (One Hot Encoding)
pd.get_dummies(df,columns=['Gender','MaritalStatus','Occupation'])
print(df.head())

  Gender       Age MaritalStatus      Occupation  NumberCarsOwned  \
0      M -0.482516             M        Clerical         1.892524
1      M  0.851033             M        Clerical         0.798389
2      F -0.304710             S        Clerical         1.892524
3      M  0.406517             M  Skilled Manual         0.798389
4      M  0.584324             S  Skilled Manual        -0.295746

   NumberChildrenAtHome  TotalChildren  YearlyIncome  BikeBuyer AgeGroup  \
0             -0.594371       0.161342      0.298555          1    Young
1              1.163279       1.239753      0.271180          1   Middle
2             -0.594371      -0.917069      0.444261          1    Young
3              1.163279       1.239753     -0.367401          1    Young
4             -0.594371      -0.917069     -0.682765          1   Middle

  IncomeGroup
0      Medium
1      Medium
2      Medium
3         Low
4         Low

Part III: Calculating Proximity /Correlation Analysis of two features
Make sure each attribute is transformed in a same scale for numeric attributes and Binarization for each nominal attribute, and each discretized numeric attribute to standardization. Make sure to apply a correct similarity measure for nominal (one hot encoding)/binary attributes and numeric attributes respectively.
(a) Calculate Similarity in Simple Matching, Jaccard Similarity, and Cosine Similarity between two following objects of your transformed input data.
(b) Calculate Correlation between two features Commute Distance and Yearly Income

In [22]:
#(a)
from sklearn.metrics.pairwise import cosine_similarity

df_encoded = pd.get_dummies(df, drop_first=True)
obj1 = df_encoded.iloc[0].values
obj2 = df_encoded.iloc[1].values


def smc(x,y):
  return np.sum(x==y)/len(x)

def jaccard(x,y):
  intersection=np.sum((x==1) & (y==1))
  union = np.sum((x==1) | (y==1))
  if union!=0:
    return intersection/union
  else:
    return 0

print(smc(obj1,obj2))
print(jaccard(obj1,obj2))
print(cosine_similarity([obj1],[obj2])[0][0])

0.625
0.75
0.4738694240619705

In [ ]:
#(b)
c = df['CommuteDistance'].corr(df['YearlyIncome'])
print(c)
#there is no commute distance feature in the dataset